.simple-table {
  display: grid;
}

.simple-table > .label {
  grid-column: 1;
  text-align: left;
  padding: 4px 0;
}

.simple-table > .value {
  grid-column: 2;
  text-align: left;
  padding: 4px 0;
}
